<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <connectionStrings>
      <add name="Ek-spedycja" 
           connectionString="workstation id=spedycja.mssql.somee.com;packet size=4096;user id=revky_SQLLogin_1;pwd=or3m16nqnr;data source=spedycja.mssql.somee.com;persist security info=False;initial catalog=spedycja"
           providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
